name: Generate Playlists

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Run script
        run: python generate_playlists.py

      - name: Commit and push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add playlists/*
          # Only commit if there are actual changes to the files
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update playlists and EPG $(date)" && git push)
      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Run script
        run: python generate_playlists.py

      - name: Commit and push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add playlists/*
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update Playlists and Tubi EPG $(date)" && git push)
